* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('cumulus-499176.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  color: #333;
}



.container {
  background: rgba(255, 255, 255, 0.9); /* fundo branco com leve transparência */
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
}


h1 {
  margin-bottom: 20px;
  color: #2980b9;
}

input {
  padding: 12px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

button {
  padding: 12px;
  width: 100%;
  background: #2980b9;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #1f6691;
}

#resultado {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.6;
}

#resultado img {
  margin-top: 10px;
  width: 60px;
  height: 60px;
}
